{% from "report_base.j2" import footer %}

# {{ _("New repositories discovered") }}

{% if repos %}
{% for repo in repos %}
## [{{ repo.owner_name }}/{{ repo.repo_name }}]({{ repo.repo_url }})

{% if repo.description %}
> {{ repo.description }}
{% endif %}

{% if repo.readme_summary %}
{{ repo.readme_summary }}
{% endif %}

{% if repo.readme_detail %}
<details>
<summary>{{ _("Click to view detailed analysis") }}</summary>

{{ repo.readme_detail }}

</details>
{% endif %}

🗓{{ repo.discovered_at }}

{% if not loop.last %}
---
{% endif %}
{% endfor %}
{% else %}
_{{ _("No repositories discovered.") }}_
{% endif %}

{{ footer(generation_time) }}
