{% from "_feishu_v2.j2" import card %}
{% set repos = repos or [] %}
{% set visible = repos[:5] %}
{% set rest = repos[5:] %}
{% set ns = namespace(elements=[]) %}
{%- set ns.elements = ns.elements + [{"tag": "markdown", "content": "📦 **" ~ _("Newly Discovered Repositories") ~ "**", "text_size": "heading-4"}] -%}
{% for repo in visible %}
{%- set ns.elements = ns.elements + [{"tag": "column_set", "flex_mode": "none", "background_style": "grey-50", "columns": [
  {"tag": "column", "width": "weighted", "weight": 4, "vertical_align": "center", "padding": "10px 12px",
   "elements": [{"tag": "markdown", "content": "**📦 " ~ repo.name ~ "**"}]},
  {"tag": "column", "width": "weighted", "weight": 1, "horizontal_align": "right", "vertical_align": "center", "padding": "10px 12px",
   "elements": [{"tag": "button", "text": {"tag": "plain_text", "content": _("View")}, "type": "text", "size": "small", "behaviors": [{"type": "open_url", "default_url": repo.url}]}]}
]}] -%}
{% endfor %}
{% if rest %}
{%- set ns.elements = ns.elements + [{"tag": "collapsible_panel", "background_color": "grey-50", "border": {"color": "grey-200", "corner_radius": "6px"}, "header": {"title": {"tag": "markdown", "content": "▸ " ~ _("Expand remaining") ~ " " ~ (rest | length) ~ " " ~ _("repos")}, "background_color": "grey-50"}, "elements": [{"tag": "markdown", "content": rest | map(attribute="name") | join(" · ")}]}] -%}
{% endif %}
{%- set ns.elements = ns.elements + [{"tag": "hr"}] -%}
{%- set ns.elements = ns.elements + [{"tag": "markdown", "content": "<font color='blue'>💡 " ~ _("New repos can be added under integrations.repo in config.toml") ~ "</font>", "text_size": "notation"}] -%}
{%- set ns.elements = ns.elements + [{"tag": "hr"}] -%}
{% if markpost_url %}
{%- set ns.elements = ns.elements + [{"tag": "button", "text": {"tag": "plain_text", "content": " " ~ _("View Discovery Details") ~ "（Markpost）"}, "type": "primary_filled", "width": "fill", "size": "medium", "behaviors": [{"type": "open_url", "default_url": markpost_url}]}] -%}
{%- set ns.elements = ns.elements + [{"tag": "hr"}] -%}
{% endif %}
{%- set ns.elements = ns.elements + [{"tag": "markdown", "content": "<font color='grey'>⏱ " ~ _("Generated by Progress") ~ "</font>", "text_size": "notation"}] -%}
{% set text_tags = [{"tag": "text_tag", "text": {"tag": "plain_text", "content": "NEW " ~ (repos | length)}, "color": "turquoise"}] %}
{{ card(title, ns.elements, markpost_url, "turquoise", "", "search-outlined", "turquoise", text_tags) }}
