{% from "_feishu_v2.j2" import card %}
{% set entries = entries or [] %}
{% set visible = entries[:5] %}
{% set rest = entries[5:] %}
{% set ns = namespace(elements=[]) %}
{%- set ns.elements = ns.elements + [{"tag": "markdown", "content": "📦 **" ~ _("Version List") ~ "**", "text_size": "heading-4"}] -%}
{% for e in visible %}
{%- set lc = status_color("changelog_level", e.level) if e.level else "" -%}
{%- set badge_md = " <text_tag color='" ~ lc ~ "'>" ~ e.level ~ " ⬆</text_tag>" if e.level else "" -%}
{%- set ns.elements = ns.elements + [{"tag": "column_set", "flex_mode": "none", "background_style": "grey-50", "columns": [
  {"tag": "column", "width": "weighted", "weight": 4, "vertical_align": "center", "padding": "10px 12px",
   "elements": [{"tag": "markdown", "content": "**" ~ e.name ~ "**　`" ~ e.version ~ "`" ~ badge_md}]},
  {"tag": "column", "width": "weighted", "weight": 1, "horizontal_align": "right", "vertical_align": "center", "padding": "10px 12px",
   "elements": [{"tag": "button", "text": {"tag": "plain_text", "content": _("Release Note")}, "type": "text", "size": "small", "behaviors": [{"type": "open_url", "default_url": e.url}]}]}
]}] -%}
{% endfor %}
{% if rest %}
{%- set rest_lines = namespace(items=[]) -%}
{% for e in rest %}{% set rest_lines.items = rest_lines.items + ["- **" ~ e.name ~ "**　`" ~ e.version ~ "`"] %}{% endfor %}
{%- set ns.elements = ns.elements + [{"tag": "collapsible_panel", "background_color": "grey-50", "border": {"color": "grey-200", "corner_radius": "6px"}, "header": {"title": {"tag": "markdown", "content": "▸ " ~ _("Expand remaining") ~ " " ~ (rest | length) ~ " " ~ _("versions")}, "background_color": "grey-50"}, "elements": [{"tag": "markdown", "content": rest_lines.items | join("\n")}]}] -%}
{% endif %}
{%- set ns.elements = ns.elements + [{"tag": "hr"}] -%}
{% if markpost_url %}
{%- set ns.elements = ns.elements + [{"tag": "button", "text": {"tag": "plain_text", "content": " " ~ _("View Full Changelog") ~ "（Markpost）"}, "type": "primary_filled", "width": "fill", "size": "medium", "behaviors": [{"type": "open_url", "default_url": markpost_url}]}] -%}
{%- set ns.elements = ns.elements + [{"tag": "hr"}] -%}
{% endif %}
{%- set ns.elements = ns.elements + [{"tag": "markdown", "content": "<font color='grey'>⏱ " ~ _("Generated by Progress") ~ "</font>", "text_size": "notation"}] -%}
{% set text_tags = [{"tag": "text_tag", "text": {"tag": "plain_text", "content": "RELEASE " ~ (entries | length)}, "color": "indigo"}] %}
{{ card(title, ns.elements, markpost_url, "indigo", "", "rocket-outlined", "indigo", text_tags) }}
