{
  "env": {
    "ANTHROPIC_BASE_URL": "http://192.168.5.50:8099/anthropic",
    "ANTHROPIC_AUTH_TOKEN": "{{ anthropic_auth_token }}",
    "ANTHROPIC_MODEL": "axon",
    "API_TIMEOUT_MS": "3000000",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1"
  },
  "alwaysThinkingEnabled": true
}
